<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Two-Column Layout</title>

    <style>
      * {
        box-sizing: border-box;
      }

      p {
        width: 50%; /* Tries to fill in 50% of its containing element */
        padding: 7px;
        /* border: 2px solid #000000; */
        float: left;
        /* margin-right: 15px; */
      }

    </style>
  </head>

  <body>
    <h1>Two-column Layout</h1>
    <div>
      <p id="p1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel elit sit amet sapien convallis aliquet. Phasellus tempor diam in erat vulputate ullamcorper. Donec a nisi vitae tortor tristique egestas vitae sit amet libero. Integer ac nisl nulla. Nam vulputate tempus lectus vitae semper. In hac habitasse platea dictumst. Proin vulputate dolor vitae nulla pulvinar, eu posuere leo aliquet. Etiam neque augue, pretium ut libero a, ultricies volutpat neque. Ut id sagittis leo, suscipit tincidunt enim. Nullam sed cursus est, et vehicula risus. Duis erat massa, elementum vel iaculis placerat, commodo ut ipsum. Praesent gravida lorem id lacus ornare, ac lacinia odio auctor. Suspendisse potenti.
      </p>
      <p id="p2">
        Vivamus congue lobortis mi eget tincidunt. Sed sit amet erat gravida, accumsan nunc nec, maximus mi. Mauris blandit orci ut est blandit, a rutrum tortor lobortis. In et nisi eu magna porttitor egestas sed vel odio. Suspendisse potenti. Maecenas feugiat dolor lorem, faucibus lobortis lacus dignissim sit amet. Sed tempor eu est eget lacinia. Vestibulum accumsan elit sed fermentum laoreet. Aliquam ut posuere lectus. Suspendisse nunc tellus, iaculis non condimentum ac, bibendum non justo. Integer nec sem rhoncus, porttitor ipsum et, aliquet sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam in felis at risus rutrum venenatis in et purus.
      </p>
      <section>Regular content after floating elements</section>
    </div>
  </body>
</html>
